body {
  background: #e6fff3;
}

nav {
  background:#0086b3;
  border-bottom: 2px solid yellow;
}

.jumbotron {
  background: #ccf2ff;
  margin: 10px;
}

.note-logo {
  padding: 10px;
  background: white;
}