body {
  background: #e6fff3;
}

nav {
  background:#0086b3;
  border-bottom: 2px solid yellow;
}

.jumbotron {
  background: #ccf2ff;
  margin: 10px;
}

.note-logo {
  padding: 10px;
  background: #0086b3;
  color: white;
  text-decoration: none;
};

.note-logo {
  padding: 15px;
  background: white;
  color:white;
}

.note-logo:hover {
  color: white;
};

.note-header {
  border-bottom: 2px solid #e6e6e6;
};

.note-btn:focus {
  outline: none;
}
